/* General Styles */
body, h1, h2 {
  font-family: 'Inter', Arial, sans-serif;
  margin: 10px;
  color: #333;
}

/* Header Styles */
header {
  background-color: #15ff008c;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Common Styles for Boxes */
#weatherBox, #titleBox {
  padding: 10px;
  color: #000000;
  border-radius: 5px;
  font-weight: 700;
}

/* Weather Information Styles */
#temperatureInfo, #weatherDetails {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 50px;
}

#locationInfo {
  font-size: 12px;
  margin-bottom: 4px;
}

/* Question Section Styles */
#questions {
  background-color: #e0fffa;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

#part1, #part2 {
  background-color: #add2fd;
  padding: 15px;
  width: 45%;
  border-radius: 5px;
}

/* Dropdown Styles */
select {
  width: 90%;
  padding: 3px;
  margin: 8px;
  font-size: 16px;
  border-radius: 4px;
}

/* Button Styles */
button {
  background-color: #ea4d2a;
  color: rgb(255, 255, 255);
  padding: 11px 13px;
  font-size: 14px;
  border-color: whitesmoke;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}